body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(26, 188, 156, 1);
  background-image:url('../../images/更新记录/u1_state0.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:960px 960px;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:100px;
  width:1100px;
  height:2px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:100px;
}
#u4 {
  position:absolute;
  left:132px;
  top:0px;
  width:368px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:364px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:50px;
}
#u6 {
  position:absolute;
  left:20px;
  top:24px;
  width:82px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:100px;
}
#u8 {
  position:absolute;
  left:676px;
  top:0px;
  width:424px;
  height:100px;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
  line-height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:402px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:30px;
  top:132px;
  width:1040px;
  height:600px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11 {
  position:absolute;
  left:2px;
  top:292px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:600px;
}
#u12 {
  position:absolute;
  left:30px;
  top:132px;
  width:1040px;
  height:600px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:42px;
}
#u13 {
  position:absolute;
  left:50px;
  top:50px;
  width:940px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16 {
  position:absolute;
  left:0px;
  top:762px;
  width:1100px;
  height:100px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:44px;
}
#u17 {
  position:absolute;
  left:89px;
  top:794px;
  width:431px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:427px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:42px;
}
#u20 {
  position:absolute;
  left:759px;
  top:791px;
  width:139px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:44px;
}
#u22 {
  position:absolute;
  left:951px;
  top:790px;
  width:129px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:707px;
  top:794px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:905px;
  top:794px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:34px;
}
#u28 {
  position:absolute;
  left:22px;
  top:799px;
  width:57px;
  height:34px;
}
#u29 {
  position:absolute;
  left:2px;
  top:9px;
  width:53px;
  word-wrap:break-word;
}
